{{define "title"}}Home{{end}}

{{define "main"}}
    <h2>Latest Snippets</h2>
    {{if .Snippets}}
     <table>
        <tr>
            <th>Title</th>
            <th>Created</th>
            <th>ID</th>
        </tr>
        {{range .Snippets}}
        <tr>
            <td><a href='/snippet/view/{{.ID}}'>{{.Title}}</a></td>
            <td>{{humanDate .Created}}</td>
            <td>#{{.ID}}</td>
        </tr>
        {{end}}
    </table>
    <form action="/snippet/search" method="GET">
        <label for="id">Buscar snippet por ID:</label>
        <input type="number" id="id" name="id" min="1" required>
        <button type="submit">Buscar</button>
    </form>
    {{else}}
        <p>There's nothing to see here... yet!</p>
    {{end}}
{{end}}